@model ArciteatroVibo.Models.Rassegne

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rassegne</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titolo" class="control-label"></label>
                <input asp-for="Titolo" class="form-control" />
                <span asp-validation-for="Titolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locandina" class="control-label"></label>
                <input asp-for="LocandinaUp" class="form-control" type="file" />
                <span asp-validation-for="Locandina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Testo" class="control-label"></label>
                <input asp-for="Testo" class="form-control" />
                <span asp-validation-for="Testo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edizione" class="control-label"></label>
                <input asp-for="Edizione" class="form-control" />
                <span asp-validation-for="Edizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Luogo" class="control-label"></label>
                <input asp-for="Luogo" class="form-control" />
                <span asp-validation-for="Luogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Regia" class="control-label"></label>
                <input asp-for="Regia" class="form-control" />
                <span asp-validation-for="Regia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interpreti" class="control-label"></label>
                <input asp-for="Interpreti" class="form-control" />
                <span asp-validation-for="Interpreti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Extra" class="control-label"></label>
                <input asp-for="Extra" class="form-control" />
                <span asp-validation-for="Extra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
