@model ArciteatroVibo.Models.Rassegne

@{
    ViewData["Title"] = "Edit";
}


<div class="container justify-content-center">

    <div class="row justify-content-between ">
        <h4 class="titlePage">Modifica Rassegna</h4>
        <div class="col-md-12 ">

            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdRassegna" />

                <div class="row  justify-content-between m-2 border border-danger">
                    <div class="col-md-5 m-5 ">

                        <h4 class="aragostaFont">Home Rassegna</h4>


                        <div class="form-group">
                            <label asp-for="Locandina" class="control-label"></label>
                            <input asp-for="LocandinaUp" class="form-control" type="file" />
                            <span asp-validation-for="Locandina" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Edizione" class="control-label"></label>
                            <input asp-for="Edizione" class="form-control" />
                            <span asp-validation-for="Edizione" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Data" class="control-label"></label>
                            <input asp-for="Data" class="form-control" />
                            <span asp-validation-for="Data" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4 m-5">
                        <h4>Ricordati di ricaricare sempre la <span class="aragostaFont">Data</span> la  <span class="aragostaFont">Locandina</span></h4>
                        <img src="~/immagini/HomeRassegna.png" class="img-fluid " alt="Alternate Text" />

                    </div>
                </div>

                <div class="row  justify-content-between m-2 border border-danger">
                    <div class="col-md-5 m-5">

                        <h4 class="aragostaFont">Dettagli Rassegna</h4>
                        <div class="form-group">
                            <label asp-for="Titolo" class="control-label"></label>
                            <input asp-for="Titolo" class="form-control" />
                            <span asp-validation-for="Titolo" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="Luogo" class="control-label"></label>
                            <input asp-for="Luogo" class="form-control" />
                            <span asp-validation-for="Luogo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Regia" class="control-label"></label>
                            <input asp-for="Regia" class="form-control" />
                            <span asp-validation-for="Regia" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Interpreti" class="control-label"></label>
                            <input asp-for="Interpreti" class="form-control" />
                            <span asp-validation-for="Interpreti" class="text-danger"></span>

                        </div>

                        <div class="form-group">
                            <label asp-for="Extra" class="control-label"></label>
                            <input asp-for="Extra" class="form-control" />
                            <span asp-validation-for="Extra" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Testo" class="control-label"></label>
                            <textarea asp-for="Testo" class="form-control" style="height:200px"> </textarea>
                            <span asp-validation-for="Testo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5 m-5 position-relative">
                        <img src="~/immagini/DettagliRassegna.png" class="img-fluid shadow" alt="Alternate Text" />

                        <p class=" fw-bolder mt-2  ms-5 text-decoration-underline position relative">Ricordati sempre di separare gli interpreti con una virgola!</p>
                        <img src="~/immagini/Arrow2.png" alt="Alternate Text" class="position-absolute" style="width:200px; max-height:200px; top:380px;right:350px" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>


        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
