@model ArciteatroVibo.Models.Contatti

@{
    ViewData["Title"] = "Details";
}



<div class="container">
    <h4 class="titlePage ms-3" style="text-align:left">Contatti</h4>
    <div class="row container ">
        <div class="col-6">
            <img src="/immagini/ViboValentia.jpg" class="card-img-normal d-block" alt="Alternate Text" />
        </div>
        <div class="col-6">
           <h4 class="aragostaFont ">La nostra posizione!</h4>
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12458.80296478678!2d16.09141238511457!3d38.678745098343356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1315688db0d2e38d%3A0x4c8c74deb6774627!2s89900%20Vibo%20Valentia%2C%20Province%20of%20Vibo%20Valentia!5e0!3m2!1sen!2sit!4v1714988718224!5m2!1sen!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
           
        </div>
    </div>
    <div class="row container mb-5 ">
        <div class="col-6">
            <h4 class="aragostaFont">I nostri contatti!</h4>
            <h5>  @Html.DisplayFor(model => model.Sede)</h5>
            <h5>  @Html.DisplayFor(model => model.Email)</h5>
            <h5>  @Html.DisplayFor(model => model.Telefono1)</h5>
            <h5>  @Html.DisplayFor(model => model.Pec)</h5>
            <a href="mailto:@Html.DisplayFor(model => model.Email)" class="aragostaFont">Clicca qui per scriverci!</a>
        </div>
    </div>
    @if(User.IsInRole("Admin"))
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.IdContatto">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
    
    
