@model IEnumerable<ArciteatroVibo.Models.Card>

<div class=" shadowbox bg-white">
    <div class="container ">
        <h4 class="text-end text-danger text-decoration-underline mt-3">Il nostro portfolio</h4>
        @foreach (var item in Model)
        {
            
            <div class="row cardStyleOddEven">
                <div class="  my-5 " style="max-width: 740px;">
                    <div class="row g-0">
                        <div class="col-md-6 ">
                            <img src="@Url.Content(item.Foto)" class="img-fluid card-img-small " alt="...">
                        </div>

                        <div class="col-md-6 colorCard " >
                            <div >
                                <a src="" class=" h3 text-decoration-none link-dark"> @Html.DisplayFor(modelItem => item.Titolo)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        }
    </div>
</div>
<script src="~/jsCustom/JavaScript.js" asp-append-version="true"></script>
