@model ArciteatroVibo.Models.Eventi

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Eventi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titolo" class="control-label"></label>
                <input asp-for="Titolo" class="form-control" />
                <span asp-validation-for="Titolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sottotitolo" class="control-label"></label>
                <input asp-for="Sottotitolo" class="form-control" />
                <span asp-validation-for="Sottotitolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" id="dataEvento" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Luogo" class="control-label"></label>
                <input asp-for="Luogo" class="form-control" />
                <span asp-validation-for="Luogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InCorso" class="control-label"></label>
                <input asp-for="InCorso" class="form-check-input" id="inCorso" hidden/>
                <span asp-validation-for="InCorso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Testo" class="control-label"></label>
                <input asp-for="Testo" class="form-control" />
                <span asp-validation-for="Testo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locandina" class="control-label"></label>
                <input asp-for="LocandinaUp" class="form-control" type="file" />
                <span asp-validation-for="Locandina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/jsCustom/JavaScript1.js" asp-append-version="true"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
