@model ArciteatroVibo.Models.Eventi

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Eventi</h4>
<hr />
<div class="container "></div>
<div class="row justify-content-center ">
    <div class="col-md-7  border border-danger">
        <div class="row container justify-content-between">
            <div class="col-md-4 m-5">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEvento" />
            <h4 class="aragostaFont">Aggiungi evento</h4>
            <div class="form-group">
                <label asp-for="Titolo" class="control-label"></label>
                <input asp-for="Titolo" class="form-control" />
                <span asp-validation-for="Titolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sottotitolo" class="control-label"></label>
                <input asp-for="Sottotitolo" class="form-control" />
                <span asp-validation-for="Sottotitolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" id="dataEvento" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Luogo" class="control-label"></label>
                <input asp-for="Luogo" class="form-control" />
                <span asp-validation-for="Luogo" class="text-danger"></span>
            </div>
            <div class="form-group">     
                <input asp-for="InCorso" class="form-check-input" id="inCorso" hidden/>     
            </div>
            <div class="form-group">
                <label asp-for="Testo" class="control-label"></label>
                <textarea asp-for="Testo" class="form-control" ></textarea>
                        <span asp-validation-for="Testo" class="text-danger" style="height: 300px"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locandina" class="control-label"></label>
                <input asp-for="LocandinaUp" class="form-control" type="file" />
                <span asp-validation-for="Locandina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
            </div>
            <div class="col-md-6 mt-5">
                <h4>Inserisci la data nel format vedrai apparire automaticamente se l'evento è <span class="aragostaFont"> In Corso </span>o <span class="aragostaFont"> Passato</span></h4>
              <img src="/immagini/EventiEsempio.png" class="img-fluid" alt="Alternate Text" />
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
