@model ArciteatroVibo.Models.Richieste

@{
    ViewData["Title"] = "Create";
}


<h5 class="aragostaFont">La tua iscrizione</h5>
<hr />
<div class="row">
    <div class="col-md-11" mb-5>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary ="None" class="text-danger">  </div>
            <div class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group" >
                <label asp-for="Cognome" class="control-label"></label>
                <input asp-for="Cognome" class="form-control aragostaFont" form-control-lg" id="colFormLabelLg"  />
                <span asp-validation-for="Cognome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascita" class="control-label"></label>
                <input asp-for="DataNascita" class="form-control" />
                <span asp-validation-for="DataNascita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorpoRichiesta" class="control-label"></label>
                <textarea asp-for="CorpoRichiesta" class="form-control" style="height: 200px"></textarea>
                <span asp-validation-for="CorpoRichiesta" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <input asp-for="FkUtente" class="form-control" value="@ViewBag.Utente" hidden />
            </div>
            <div class="form-group">
                <input asp-for="FkLaboratorio" class="form-control" value="@ViewBag.Laboratorio" />
            </div>
            <div class="form-group my-5 text-end">
                <input type="submit" value="Create" class="pinkButtonSmall " />
            </div>
        </form>
    </div>
</div></div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
