@model ArciteatroVibo.Models.Richieste

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Richieste</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cognome" class="control-label"></label>
                <input asp-for="Cognome" class="form-control" />
                <span asp-validation-for="Cognome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorpoRichiesta" class="control-label"></label>
                <input asp-for="CorpoRichiesta" class="form-control" />
                <span asp-validation-for="CorpoRichiesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkUtente" class="control-label"></label>
                <select asp-for="FkUtente" class ="form-control" asp-items="ViewBag.FkUtente"></select>
            </div>
            <div class="form-group">
                <label asp-for="FkLaboratorio" class="control-label"></label>
                <select asp-for="FkLaboratorio" class ="form-control" asp-items="ViewBag.FkLaboratorio"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
