@import url('../fontsource/montserrat/400.css');
@import url('../fontsource/montserrat/400.min.css');
@import url('../fontsource/montserrat/800.css');
@import url('../fontsource/montserrat/800.min.css');
@import url('../fontsource/montserrat/600.min.css');
@import url('../fontsource/montserrat/600.css');

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;  

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.authorColor {
    color: #727272
}
.footerColor {
    background-color: #202020
}
.stickyNav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #e5e5e5;
    
}

ul li{
    
    margin-inline: 30px;
    padding: 0;

}



.immagineGradient {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0))
}
.coverCard {
    width: 90vw ;
    height: auto;
   margin-top: -120px;

  
}
.rowCardHome {
    justify-content: flex-end
}

.shadowbox {
    box-shadow: inset 0 5px 10px -3px #00000041;
}

.sfondoCardGrande {
    background-color: #CD6161;
    border-block: 15px solid #E77676;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
}



.TopNavbar {
    background-color: #9b1b1b;
    padding: 40px;
    text-align: center;
}

.bottonStatuto{
    background-color: #9b1b1b;
    color: white;
    border-radius: 12px;
    padding-inline: 20px;
    padding-block: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
}


.interlinea {
    background-color: #9b1b1b;
    padding: 15px;
    text-align: center;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


html {
  position: relative;
  min-height: 100%;
}


body {
    background-color: #ffece8;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}