
@mixin imageFit {
    width: 100%;
    object-fit: cover;
    object-position: top
}

@mixin pinkButton {
    background: #CD6161;
    color: white;
    border: none;
    border-radius: 10px;
}



::-webkit-scrollbar {
    width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
    background: lightgray;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #CD6161;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}

body {



    .boldfont {
        font-weight: 600;
    }

    .titleNavbar {
        text-shadow: 1px 0 #D38F8F, -1px 0 #D38F8F, 0 1px #D38F8F, 0 -1px #D38F8F, 1px 1px #D38F8F, -1px -1px #D38F8F, 1px -1px #D38F8F, -1px 1px #D38F8F;
    }
    /*@media (max-width: 1800px) {
    .cardStyleOddEven {
        justify-content: center;
    }
*/






    .aragostaFont {
        color: #F35B5B
    }


    .eventiColor {
        &:nth-child(odd) {
            background-color: white;

            &:nth-child(even) {
                background-color: #D38F8F;
            }
        }
    }


    .paddingPage {
        padding: 40px;
        border-block: 1px solid #D38F8F;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, Gecko */
    }

    .distance {
        margin-top: 50px;
        font-weight: bold;
    }

    .pinkButton {
        @include pinkButton;
        padding: 18px 40px;
        margin-top: 50px
    }

    .pinkButtonSmall {
        @include pinkButton;
        padding: 10px 20px;
    }

    .cardLabOdd {
        &:nth-child(odd) {
            .cardLab {
                background-color: #FFF5DC;
            }
        }

        &:nth-child(even) {
            .cardLab {
                background-color: #f493939d;
            }
        }
    }

    .cardStyleOddEven {
        &:nth-child(odd) {
            justify-content: end;

            @media (max-width: 1800px) {
                justify-content: center;
            }

            a {
                color: white
            }
        }

        &:nth-child(even) {
            @media (max-width: 1800px) {
                justify-content: center;
            }

            .colorFlexCard {
                background-color: #FFF5DC;
            }

            a {
                color: black
            }
        }
    }

    .badgeOff {
        background-color: lightgray;
        color: ghostwhite;
        padding-inline: 10px;
        margin-left: 10px;
        padding-block: 5px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
    }


    .titlePage {
        color: #F35B5B;
        padding-block: 100px;
        text-decoration: underline;
        text-align: end;
    }

    .colorFlexCard {
        border-block: 15px solid white;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, Gecko */
        box-sizing: border-box;
        background-color: #f493939d;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 16px
    }


    .navImageOutside {
        z-index: 1;
        @include imageFit;
        height: 23vw;
        position: absolute;
        top: 0;
    }

    .card-img-top {
        @include imageFit;
        height: 23vw;
        min-height: 300px;
    }


    .card-img-lab {
        @include imageFit;
        height: 15vw;
        min-height: 320px;
        @media (max-width: 1200px) {
            height: 30vw;
        }
    }

    .card-img-normal {
        @include imageFit;
        height: 18vw;
    }

    .card-img-small {
        @include imageFit;
        height: 12vw;
        min-height: 320px;




        @media (max-width: 1200px) {
            height: 30vw;
        }
    }

    .popImage:where(:hover) {
        transform: scale(1.1);
        transition: transform 0.5s;
    }
}
