body {

    @mixin imageFit {
        width: 100%;
        object-fit: cover;
        object-position: top
    }

    @mixin pinkButton {
        background: #CD6161;
        color: white;
        border: none;
        border-radius: 10px;
    }

    .boldfont {
        font-weight: 600;
    }

    .titleNavbar {
        text-shadow: 1px 0 #D38F8F, -1px 0 #D38F8F, 0 1px #D38F8F, 0 -1px #D38F8F, 1px 1px #D38F8F, -1px -1px #D38F8F, 1px -1px #D38F8F, -1px 1px #D38F8F;
    }



    .aragostaFont {
        color: #F35B5B
    }

    .paddingPage {
        padding: 40px;
        border-block: 1px solid #D38F8F;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, Gecko */
    }

    .distance {
        margin-top: 50px;
        font-weight: bold;
    }

    .pinkButton {
        @include pinkButton;
        padding: 18px 40px;
        margin-top: 50px
    }

    .cardStyleOddEven {
        &:nth-child(odd) {
            justify-content: end;
        }

        &:nth-child(even) {
            .colorCard {
                background-color: #FFF5DC;

                a {
                    color: black
                }
            }
        }

        .colorCard {
            border-block: 15px solid white;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box; /* Firefox, Gecko */
            box-sizing: border-box;
            background-color: #f493939d;
        }
    }

    .navImageOutside {
        z-index: 1;
        @include imageFit;
        height: 23vw;
        position: absolute;
        top: 0;
    }

    .card-img-top {
        @include imageFit;
        height: 23vw;
    }


    .card-img-normal {
        @include imageFit;
        height: 18vw;
    }

    .card-img-small {
        @include imageFit;
        height: 10vw;
    }

    .popImage:where(:hover) {
        transform: scale(1.1);
        transition: transform 0.5s;
    }
}
