
@mixin imageFit {
    width: 100%;
    object-fit: cover;
    object-position: top
}

@mixin pinkButton {
    background: #CD6161;
    color: white;
    border: none;
    border-radius: 10px;
}

body {


    .boldfont {
        font-weight: 600;
    }

    .titleNavbar {
        text-shadow: 1px 0 #D38F8F, -1px 0 #D38F8F, 0 1px #D38F8F, 0 -1px #D38F8F, 1px 1px #D38F8F, -1px -1px #D38F8F, 1px -1px #D38F8F, -1px 1px #D38F8F;
    }
    /*@media (max-width: 1800px) {
    .cardStyleOddEven {
        justify-content: center;
    }
*/
    .aragostaFont {
        color: #F35B5B
    }

    .paddingPage {
        padding: 40px;
        border-block: 1px solid #D38F8F;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, Gecko */
    }

    .distance {
        margin-top: 50px;
        font-weight: bold;
    }

    .pinkButton {
        @include pinkButton;
        padding: 18px 40px;
        margin-top: 50px
    }

    .pinkButtonSmall {
        @include pinkButton;
        padding: 10px 20px;
    }

    .cardStyleOddEven {
        &:nth-child(odd) {
            justify-content: end;

            @media (max-width: 1800px) {
                justify-content: center;
            }

            a {
                color: white
            }
        }

        &:nth-child(even) {
            @media (max-width: 1800px) {
                justify-content: center;
            }

            .colorFlexCard {
                background-color: #FFF5DC;
            }

            a {
                color: black
            }
        }
    }

    .colorFlexCard {
        border-block: 15px solid white;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, Gecko */
        box-sizing: border-box;
        background-color: #f493939d;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 16px
    }


    .navImageOutside {
        z-index: 1;
        @include imageFit;
        height: 23vw;
        position: absolute;
        top: 0;
    }

    .card-img-top {
        @include imageFit;
        height: 23vw;
    }


    .card-img-normal {
        @include imageFit;
        height: 18vw;
    }

    .card-img-small {
        @include imageFit;
        height: 12vw;

        @media (max-width: 2000px) {
            height: 15vw;
        }

        @media (max-width: 1800px) {
            height: 20vw;
        }

        @media (max-width: 1200px) {
            height: 30vw;
        }
    }

    .popImage:where(:hover) {
        transform: scale(1.1);
        transition: transform 0.5s;
    }
}
